#여기에 자기 업스테이지 api키 넣으면 됨
UPSTAGE_API_KEY=up_....

#여기에 langsmith api키 발급받아서 넣으면됨
LANGSMITH_API_KEY=ls...
LANGSMITH_TRACING_V2=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT=agentic-workflow
